* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: block;
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    position: absolute;
    left : -100px;
    top : 100px;
    transition: all 2s;
}

.container:hover {
    top : 50px;
    left : 500px;
}